---
volumes:
  nextcloud:
  db16:

services:
  db16:
    image: postgres:16
    container_name: postgres_db16
    restart: unless-stopped
    volumes:
      - db16:/var/lib/postgresql/data
      - /var/run/postgresql:/var/run/postgresql
    ports:
      - 5432:5432

  mynextcloud:
    build:
      context: ../nextcloud
    container_name: nextcloud_app
    hostname: nextcloud.andi
    extra_hosts:
      - "nextcloud.andi:10.0.0.88"
    depends_on: 
      - db16
      - redis
    links:
      - db16
    volumes:
      - nextcloud:/var/www/html
      - /var/run/postgresql:/var/run/postgresql
      - /var/run/redis-socket:/var/run/redis-socket
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.webnc.rule=Host(`nextcloud.andi`) || Host(`10.0.0.88`)"
      - "traefik.http.middlewares.https-only.redirectscheme.scheme=https"
      - "traefik.http.routers.webnc.middlewares=https-only"
      - "traefik.http.routers.websecurenc.rule=Host(`nextcloud.andi`) || Host(`10.0.0.88`)"
      - "traefik.http.routers.websecurenc.tls=true"
      - "traefik.http.routers.websecurenc.middlewares=nextcloud-headers,nextcloud-caldav"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=63072000"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsPreload=true"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.nextcloud-caldav.redirectregex.regex=^https://(.*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-caldav.redirectregex.replacement=https://$$1/remote.php/dav/"
      - "traefik.http.middlewares.nextcloud-caldav.redirectregex.permanent=true"
    restart: unless-stopped

  traefik:
    image: traefik:latest
    container_name: traefik
    command:
      - "--log.level=INFO"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.file.directory=/config"
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /home/andreas/traefik/config:/config:ro
      - /home/andreas/traefik/certs/:/certs:ro
    restart: unless-stopped

  adguard:
    container_name: adguard
    image: adguard/adguardhome:latest
    volumes:
      - /home/andreas/adguard/workdir:/opt/adguardhome/work
      - /home/andreas/adguard/confdir:/opt/adguardhome/conf
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 3000:3000/tcp
      - 853:853/tcp
    restart: unless-stopped

  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    depends_on: 
      - db16
      - mosquitto
      - grott
    volumes:
      - /home/andreas/hassio/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /var/run/postgresql:/run/postgresql 
    devices:
      - /dev/serial/by-id/usb-RFXCOM_RFXtrx433_A11ZKZOT-if00-port0:/dev/ttyUSB0
      - /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2489069-if00:/dev/ttyACM0
    restart: unless-stopped
    network_mode: host

  redis:
    container_name: redis-nc
    image: redis:latest
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - /var/run/redis-socket:/run/redis-socket
      - /home/andreas/redis/config:/usr/local/etc/redis
      - /home/andreas/redis/data:/data
    restart: unless-stopped

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    volumes:
      - /home/andreas/mosquitto/config:/mosquitto/config
      - /home/andreas/mosquitto/data:/mosquitto/data
      - /home/andreas/mosquitto/log:/mosquitto/log
    ports:
      - 1883:1883
    restart: unless-stopped

  grott:
    container_name: grott
    image: ledidobe/grott:master
    volumes:
      - /home/andreas/grott/output:/tmp/grottlog/
      - /home/andreas/grott/config/grott.ini:/app/grott.ini
    ports:
      - 5279:5279
    restart: unless-stopped 

  novnc:
    container_name: novnc
    image: theasp/novnc:latest
    environment:
      - DISPLAY_WIDTH=800
      - DISPLAY_HEIGHT=450
      - RUN_XTERM=no
      - RUN_FLUXBOX=no
    ports:
      - "8081:8080"
    restart: always

  go2rtc:
    image: alexxit/go2rtc:latest
    container_name: go2rtc
    network_mode: host       # important for WebRTC, HomeKit, UDP cameras
    privileged: true         # only for FFmpeg hardware transcoding
    restart: unless-stopped  # autorestart on fail or config change from WebUI
    environment:
      - TZ=Europe/Vienna  # timezone in logs
    volumes:
      - "/home/andreas/go2rtc:/config"

